
<div class="login-container">
  <div class="login-card">
  <h3>User login</h3>
  <form action="/auth/login" method="POST" class="form-login-container">
  <div class="label-input-auth">
    <label for="email" class="form-label">Email:</label>
    <input type="text" name="email" />
    <select name="links" size="1" onchange="window.location.href=this.value">
      <option value="/auth/login">Particular</option>
      <option value="/auth-professional/login">Professional</option>
    </select>
    </div>
  <div class="label-input-auth">
    <label for="password">Password:</label>
    <input type="password" name="password" />
  </div>
    <button class="log-form-button">Submit</button>
    <p style="color: red">{{errorMessage}} </p>
  </form>
  </div>
</div>
      {{> footer}}
