
<div class="login-container">
  <div class="login-card">
  <h3>Professional login</h3>
  <form action="/auth-professional/login" method="POST" class="form-login-container">
    <label for="cif">CIF:</label>
    <input type="text" name="cif" />
    <select name="links" size="1" onchange="window.location.href=this.value">
      <option value="/auth-professional/login">Professional</option>
      <option value="/auth/login">Individual</option>
    </select>
    <br />
    <label for="password">Password:</label>
    <input type="password" name="password" />
    <br />
    <p>{{errorMessage}}</p>
    <button class="log-form-button">Submit</button>

  </form>
  </div>
</div>
    {{> footer}}