
<div class="login-container">
  <div class="login-card">
  <h3>User login</h3>
  <form action="/auth/login" method="POST" class="form-login-container">
    <label for="email" class="form-label">Email:</label>
    <input type="text" name="email" />
    <select name="links" size="1" onchange="window.location.href=this.value">
      <option value="/auth/login">Individual</option>
      <option value="/auth-professional/login">Professional</option>
    </select>
    <br />
    <label for="password">Password:</label>
    <input type="password" name="password" />
    <br />

    <button class="log-form-button">Submit</button>

    <p>{{errorMessage}}</p>
  </form>
  </div>
</div>
      {{> footer}}