<div>

    <h3>Login form</h3>
      <form action="/professional/login" method="POST">

    <label for="cif">CIF:</label>
    <input type="text" name="cif" />
    <br />
    <label for="password">Password:</label>
    <input type="password" name="password" />
    <br />
   <p>{{errorMessage}}</p>
    <button>Submit</button>

  </form>

</div>