<div>

  <h3>Login form</h3>
  <form action="/auth/login" method="POST">
    <label for="email">Email:</label>
    <input type="text" name="email" />
    <select name="links" size="1" onchange="window.location.href=this.value">
      <option value="/auth/login">Individual</option>
      <option value="/professional/login">Professional</option>
    </select>
    <br />
    <label for="password">Password:</label>
    <input type="password" name="password" />
    <br />

    <button>Submit</button>
    <a href="/professional/login"> <option>Professional</option></a>

    <p>{{errorMessage}}</p>
  </form>

</div>