<div>

    <h2>Account Creation</h2>
</div>

  <form action="/auth/signup" method="POST">

    <label for="name">Name:</label>
    <input type="text" name="name" />
    
    <select name="links" size="1" onchange="window.location.href=this.value">
        <option value="">Individual</option>
        <option value="/professional/signup">Professional</option>
    </select>
    <br>

    <label for="surname">Surname:</label>
    <input type="text" name="surname" />

    <br />
    <label for="email">Email:</label>
    <input type="text" name="email" />

    <br />
    <label for="phone">Phone:</label>
    <input type="number" name="phone" />

    <br />
    <label for="password">Password:</label>
    <input type="password" name="password" />

    <br />
    <label for="passwordConfirmation">Confirm Password:</label>
    <input type="password" name="passwordConfirmation" />
    <br>


    <a href="">¿Dont remember your password?</a>
    <br>
    <p>{{errorMessage}}</p>

    <button>Register</button>
  </form>





</div>