
<div class="main-body-admin">
  <h2>Admin panel</h2>
  <div class="nav-list-container-admin">
  <a href="/admin/users-list">	&#128187;User list</a>
  <a href="/admin/professionals-list">	&#128187;Professional list</a>
  <a href="/admin/properties-list">	&#128187; Property list</a>
  </div>
</div>
<style>
</style>