<div class="admin-user-list-background">
<div class="admin-user-list-container">
  <h1>User list</h1>
  {{#each usersList}}

    <h5> {{this.name}}</h5>
    <img src="{{this.img}}" alt="img-property" width="100px" />
    <form action="/admin/user/{{_id}}/delete" method="POST">
      <button> Delete</button>
    </form>

  {{/each}}
</div>
</div>