<div>

  <h1>User list</h1>

  {{#each usersList}}


            <h5> {{this.name}}</h5>
          <img src="{{this.img}}" alt="img-property" width="100px"/>
                <button> Delete</button> 

  {{/each}}
</div>