<div>

  <h2>Post your Property!</h2>

  <form action="/property/create" method="POST" enctype="multipart/form-data">
    <div class="mb-3">
      <label for="name" class="form-label">Name:</label>
      <input type="text" name="name" class="form-control" />
    </div>

    <div class="mb-3">
      <label for="location" class="form-label">Location:</label>
      <input type="text" name="location" class="form-control" />
    </div>

    <div class="mb-3">
      <label for="m2" class="form-label">M2:</label>
      <input type="text" name="m2" class="form-control" />
    </div>
    <div class="mb-3">
      <label for="property-img" class="form-label">Images: </label>
      <input
        class="form-control"
        type="file"
        id="formFileMultiple"
        name="property-img"
      />
    </div>

    <div class="mb-3">
      <label for="price" class="form-label">Price:</label>
      <input type="number" name="price" class="form-control" />
    </div>

    <div class="mb-3">
      <label for="for" class="form-label">For:</label>
      <select name="for">
        <option value="rent" class="form-control">Sale</option>
        <option value="sale" class="form-control">Rent</option>
      </select>
    </div>

    <div class="mb-3">
      <label for="style" class="form-label">Style:</label>
      <select name="style">
        <option value="apart" class="form-control">Apart</option>
        <option value="chalet" class="form-control">Chalet</option>
        <option value="garage" class="form-control">Garage</option>
      </select>
    </div>

    <div class="mb-3">
      <div>
        <h3>Amenities</h3>
        {{!-- <form action="/property/create"> --}}
          <ul>
            <li>
              <label for="security">Security</label>
              <input type="checkbox" name="security" value="security" />
            </li>
            <li>
              <label for="balcony">Balcony:</label>
              <input type="checkbox" name="balcony" value="balcony"  />
            </li>
            <li>
              <label for="a/c">Central A/C & Heating:</label>
              <input type="checkbox" name="a/c" value="a/c"/>
            </li>
            <li>
              <label for="study">Study:</label>
              <input type="checkbox" name="study" value="study" />
            </li>
            <li>
              <label for="balcony">Balcony:</label>
              <input type="checkbox" name="balcony" value="balcony" />
            </li>
            <li>
              <label for="pool">Private Pool:</label>
              <input type="checkbox" name="pool" value="pool" />
            </li>
            <li>
              <label for="pets">Pets Allowed:</label>
              <input type="checkbox" name="pets" value="pets" />
            </li>
            <li>
              <label for="parking">Covered Parking:</label>
              <input type="checkbox" name="parking" value="parking" />
            </li>
          </ul>
        {{!-- </form> --}}
      </div>
    </div>
    {{#with userList}}
      <div class="mb-3">
        <label for="owner" class="form-label">Owner:
          <b>{{surname}} {{name}}</b>.-
        </label>
      </div>
    {{/with}}

    <br />
    <p>{{errorMessage}}</p>
    <button>Post!</button>
  </form>

</div>