<div>

  <h2>Post your Property!</h2>

  <form action="/property/create" method="POST" enctype="multipart/form-data">
    <div class="mb-3">
      <label for="name" class="form-label">Name:</label>
      <input type="text" name="name" class="form-control" />
    </div>

    <div class="mb-3">
      <label for="location" class="form-label">Location:</label>
      <input type="text" name="location" class="form-control" />
    </div>

    <div class="mb-3">
      <label for="m2" class="form-label">M2:</label>
      <input type="text" name="m2" class="form-control" />
    </div>
    <div class="mb-3">
      <label for="property-img" class="form-label">Images: </label>
      <input
        class="form-control"
        type="file"
        id="formFileMultiple"
        name="property-img"
      />
    </div>

    <div class="mb-3">
      <label for="price" class="form-label">Price:</label>
      <input type="text" name="price" class="form-control" value="" />
    </div>


    <div class="mb-3">
      <div>
        <h3>Amenities</h3>
          <ul>
            <li>
              <label for="Security">Security</label>
              <input type="checkbox" name="Security"/>
            </li>
            <li>
              <label for="Balcony">Balcony:</label>
              <input type="checkbox" name="Balcony"/>
            </li>
            <li>
              <label for="Central A/C & Heating">Central A/C & Heating:</label>
              <input type="checkbox" name="Central A/C & Heating"/>
            </li>
            <li>
              <label for="Study">Study:</label>
              <input type="checkbox" name="Study">
            </li>
            <li>
              <label for="Private Pool">Private Pool:</label>
              <input type="checkbox" name="Private Pool">
            </li>
            <li>
              <label for="Pets Allowed">Pets Allowed:</label>
              <input type="checkbox" name="Pets Allowed">
            </li>
            <li>
              <label for="Covered Parking">Covered Parking:</label>
              <input type="checkbox" name="Covered Parking">
            </li>
          </ul>
      </div>
    </div>
    {{#with userList}}
      <div class="mb-3">
        <label for="owner" class="form-label">Owner:
          <b>{{surname}} {{name}}</b>.-
        </label>
      </div>
    {{/with}}

    <br />
    <p>{{errorMessage}}</p>
    <button>Post!</button>
  </form>

</div>