<div>

  <h2>Post your Property!</h2>

  <form action="/profile/create" method="POST">
    <div class="mb-3">
      <label for="name" class="form-label">Name:</label>
      <input type="text" name="name" class="form-control" />
    </div>

    <div class="mb-3">
      <label for="surname" class="form-label">Location:</label>
      <input type="text" name="surname" class="form-control" />
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">M2:</label>
      <input type="text" name="email" class="form-control" />
    </div>
    <div class="mb-3">
      <label for="images" class="form-label">Images: </label>
      <input class="form-control" type="file" id="formFileMultiple" multiple />
    </div>

    <div class="mb-3">
      <label for="price" class="form-label">Price:</label>
      <input type="number" name="price" class="form-control" />
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">For:</label>
      <input type="password" name="password" class="form-control" />
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Style:</label>
      <input type="password" name="password" class="form-control" />
    </div>

    <div class="mb-3">
      <div>
        <h3>Amenities</h3>
        <ul>
          <li>
            <label for="security" >Security</label>
            <input type="checkbox" name="security" />
          </li>
          <li>
            <label for="balcony">Balcony:</label>
            <input type="checkbox" name="balcony" />
          </li>
          <li>
            <label for="a/c">Central A/C & Heating:</label>
            <input type="checkbox" name="a/c" />
          </li>
        </ul>
      </div>
    </div>

    <div class="mb-3">
      <label for="passwordConfirmation" class="form-label">Owner:</label>
      <input type="text" name="passwordConfirmation" class="form-control" />
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Professional:</label>
      <input type="password" name="password" class="form-control" />
    </div>

    <br />
    <p>{{errorMessage}}</p>

    <button>Post!</button>
  </form>

</div>