<div>
    <a href="/profile/create">Add house</a>
    <a href="">Favourites</a>

    <h1>list of houses</h1>

    <div>
     
     {{!-- each houselist ==> --}}
        <a href="">Nombre</a>
        <img src="" alt="Foto-House">



    </div>

</div>