<footer id="index-footer">
  <div>
    <img src="" alt="" />
    <ul>
      <li>© Copyright 2022</li>
    </ul>
  </div>
  <div id="container-developers">
    <h5>Developed by:</h5>
    <ul>
      <li><a href="https://www.linkedin.com/in/ivangarciayebra/">Ivan Yebra</a></li>
      <li><a href="">Ignacio</a></li>
    </ul>
  </div>
</footer>