<footer id="index-footer">
 <a href="https://github.com/yebrai/OurHome"><img src="/images/github-logo.png" alt="img-linkedin" width="50px"></a> 
  <div id="container-developers">
    <h5>Developed by:</h5>
    <ul class="ul-footer-dev">
      <li><a href="https://www.linkedin.com/in/ivangarciayebra/"><img src="/images/linkedin.png" alt="img-linkedin" width="20px"> Ivan Yebra</a></li>
      <li><a href="https://www.linkedin.com/in/...../"><img src="/images/linkedin.png" alt="img-linkedin" width="20px"> Ignacio Moni</a></li>
    </ul>
  </div>
  <div>
      <h6>© Copyright 2022</h6>
  </div>
</footer>