<section id="index-section">
  <h1>OurHome</h1>
</section>
<section id="index-input-container">
  <div class="searchers-index">
    <label for="">Search your Home </label>
    <a href="/property/list">🔍 Property</a>
  </div>
  <div class="searchers-index">
    <label for="">Search by location</label>
    <input type="text" placeholder="🔍 Location" />
  </div>
  <div class="searchers-index">
    <label for="">Search professionals</label>
    <input type="text" placeholder="🔍 Proffesionals" />
    <a href="/professional/listedProfessionals">All professionals</a>
  </div>
</section>
    {{> footer}}
{{!-- <footer id="index-footer">
  <div>
    <img src="" alt="" />
    <ul>
      <li>© Copyright 2022</li>
    </ul>
  </div>
  <div id="container-developers">
    <h5>Developed by:</h5>
    <ul>
      <li><a href="https://www.linkedin.com/in/ivangarciayebra/">Ivan Yebra</a></li>
      <li><a href="">Ignacio</a></li>
    </ul>
  </div>
</footer> --}}