<section id="index-section">
  <h1>OurHome</h1>
</section>
<section class="index-input-container">
  <div class="searchers-index">
    <a href="/property/list"><button class="btn btn-primary">Properties</button></a>
  </div>
  <div class="searchers-index-input">
    <form action="/property/list/location" method="post">
    <input class="input-index" type="text" placeholder="ðŸ” Search by location" name="location"/>
    <button class="btn btn-primary">Search</button>
    </form>
  </div>
  <div class="searchers-index">
    <a href="/professional/listedProfessionals"><button class="btn btn-primary">All professionals</button></a>
  </div>
</section>
    {{> footer}}
