<div>

    <h1>Professional list of houses</h1>
    <a href="/profile/create">Promote</a>
    {{!-- <a href="">Favourites</a> --}}


    <div>
     
     {{!-- each houselist ==> --}}
        <a href="">Nombre</a>
        <img src="" alt="Foto-House">



    </div>

</div>