<div>


    <h1>professional</h1>
     <div>
        <img src="" alt="Avatar">
    </div>
    <div>
        
    <form action="/profile" method="POST">
    <a href="/profile"><img src="" alt="Favourites Star"></a>
    <label for="name">Name:</label>
    <input type="text" name="name" />
    <br />
    <label for="surname">Surname:</label>
    <input type="text" name="surname" />
    <br />

    <label for="email">Email:</label>
    <input type="text" name="email" />
    <br />
    <label for="phone">Phone:</label>
    <input type="number" name="phone" />
    <br />

    <p>Insert your avatar</p>
    <div>
        <button>Save changes</button>
        <button>Delete account</button>
    </div>
    

  </form>
    </div>
</div>