<div>

    <h2>Account Creation</h2>

  <form action="/professional/signup-professional" method="POST">

    <label for="name">Name:</label>
    <input type="text" name="name" />
    <br>

    <label for="cif">Cif:</label>
    <input type="text" name="cif" />

    <br />
    <label for="email">Email:</label>
    <input type="email" name="email" />

    <br />
    <label for="phone">Phone:</label>
    <input type="number" name="phone" />

    <br />
    <label for="password">Password:</label>
    <input type="password" name="password" />

    <a href="">¿Dont remember your password?</a>
    <br>
    <p>{{errorMessage}}</p>

    <button>Register</button>
  </form>





</div>